.paginatorCont{
   display: flex;
   justify-content: center;
}

.pagesContainer {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 6px;
   width: min-content;
   border-radius: 7px;
   padding: 22px;
}

.page,.button {

   font-weight: 600;
   width: 20px;
   height: 25px;
   padding: 0px 4px;
   border-radius: 5px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0.3rem;
   font-size: 0.9rem;
   cursor: pointer;
   color: #6d6b6b;
}

.page:focus, .page:hover, .button:focus,.button:hover {
   cursor: pointer;
   font-weight: 800;
}

.selectedPage {
   /* color: #ffffff; */
   background: #104f9e;
   font-weight: 700;
   border: 1px solid #104f9e;
}

.container {
   /* background-color: white; */
   border-radius: 10px;
   border: solid 1px yellow;
   width: 10%;
   height: 10%;
}

.button {
   /* color: #ffffff; */
   background: #104f9e;
   font-weight: 600;
   border: 1px solid #104f9e;
   border-radius: 12px;
   padding: 10px 15px;
   font-size: 17px;
   font-family: 'Montserrat', sans-serif;
   margin-bottom: 20px;
   cursor: pointer;
}

.input {
   border: 0;
   margin: 0;
   color: #4c4c4c;
   font-weight: 500;
   font-size: 16px;
   font-family: 'Montserrat', sans-serif;
   border-bottom: 2px solid #104f9e;
}
.input:hover, .input:focus{
   outline: none;
}

.friends .friend {
   display: flex;
   justify-content: space-between;
   width: 700px;
   margin-bottom: 10px;
   color: #cfd2e3;
   background-color: #16192a;
 }
 
 .friends .friend .photo {
   padding: 10px 20px 10px 10px;
   width: 100px;
   cursor: pointer;
 }
 
 .friends .friend .info {
   width: 500px;
 }
 
 .friends .friend .info a {
   text-decoration: none;
   color: #cfd2e3;
 }
 
 .friends .friend .info .name {
   margin-top: 10px;
   font-size: 18px;
   font-weight: 500;
   cursor: pointer;
 }
 
 .friends .friend .info .status {
   margin-top: 10px;
   font-size: 15px;
   color: #656678;
 }
 
 .friends .friend .info .message {
   margin-top: 10px;
   font-size: 15px;
   cursor: pointer;
 }
 
 .friends .friend .actions .unfriend {
   color: #656678;
   width: 80px;
   margin-top: 10px;
   margin-right: 10px;
   font-size: 14px;
   cursor: pointer;
 }