@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;800&display=swap');

body {
  background-color: #fafafa;
  /* background-color: black; */
  color: black;
  font-family: 'Roboto', sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  cursor: pointer;
  font-size: 20px;
  color: #333333;
}

h1, h3{
  margin: 0;
  padding: 0; 
}

h1{
  text-transform: capitalize;
  font-size: 24px;
}
h4{
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -.02em;
}


.selected{
  font-weight: bold;
}


.App-header, .App-nav, .App-content_head, .App-content_main, .App-content_main-posts, .App-messages, .App-content_users{
  box-shadow: 0px 6px 20px 0px rgb(54 0 0 / 5%);
  border-radius: 12px;
  overflow: hidden;
  color: #333333;
}


.App {
  /* text-align: center; */
  margin: 0 auto;
  max-width: 1200px;
  overflow: hidden;
}

.App-header {
  display: flex;
  flex-flow: row;
  background-color: #fff;
  /* width: 98.5%; */
  margin: 0 auto;
  margin-top: 30px;
  padding: 20px ;
  justify-content: space-between;
}

.App-header_font{
  letter-spacing: -.04em;
  font-size: 24px;
  font-weight: 800;
  /* color: #fbb7d9; */
  /* color: #333333; */
  color: #d9292f;
}

.black{
    color: #333333;
}

.App-container{
  width: 100%;
  display: flex;
  flex-flow: row;
  margin-top: 30px;
}

.App-nav{
  width: 15%;
  height: 180px;
  background: #fff;
  margin-right: 30px;
  padding: 15px 20px 20px 20px;
  display: flex;
  flex-flow: column wrap;
}

.App-nav-style {
  margin-bottom: 7px;
  font-size: 16px;
  font-weight: 500;
  /* color: #2c2c2c; */
  color: #6d7073;
  line-height: 3;
  border-bottom: 0.5px solid #e8f2f8;
}

.App-nav svg {
  height: 21px;
  width: 21px;
  margin-right: 12px;
  /* color: #d5dce2; */
  color: #d9292f;
}

/* .App-nav-style::after{
  width: 20px;

} */

.App-container_mainsect{
  width: 85%;
  overflow: hidden;
  /* background: #fff; */
}
.App-content{
  /* width: 100%; */
  overflow: hidden;
}

.App-content_head{
  margin-bottom: 30px;
  
}
.App-content_head-img{
  height: 110px;
  width: 100%;
  background-size: cover;
   background-image: url('/Users/3/my-app/public/1.jpg');
  background-repeat: no-repeat;
}

.App-content_main{
  display: flex;
  flex-flow: row;
  background: #fff;
  padding: 20px;
}

.App-content_main-pic {
  height: 300px;
  width: 300px;
  background: orangered;
  margin-right: 20px;
  border-radius: 12px;
  overflow: hidden;
}

.App-content_main-posts{
  background: #fff;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px;
  position: relative;
  /* height: 250px; */
}

.App-content_textarea {
  outline: none;
  /* border: 1px solid #333333; */
  border: none;
  background-color: #fafafa;
  border-radius: 15px;
  padding: 10px 160px 10px 10px;
  box-sizing: border-box;
  resize: none;
  margin: 20px 0 ;
  width: 100%;
  height: 70px;
  /* position: relative; */
}

.App-content_main-posts button{
  width: 150px;
  height: 40px;
  color: white;
  background: #d9292f;
  border: 1px solid #d9292f;
  cursor: pointer;
  border-radius: 12px;
  overflow: hidden;
  position: absolute;
  right: 30px;
  top: 75px;
  z-index: 10;
}
.App-content_main-posts button:hover{
  background-color: #fff;
  color: #d9292f;
}

.post {
  width: 100%;
  display: flex;
  flex-flow: row;
  color: #333333;
  margin-bottom: 20px;
}

.post img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.post_content-font {
  margin-left: 15px;
}

/* --------------------------------- */

.App-messages{
  display: flex;
  flex-flow: row;
  /* padding: 20px; */
  height: 700px;
  background-color: #fff;
}

.App-messages_dialogs{
  display: flex;
  flex-flow: column;
  /* border: 2px solid lawngreen; */
  width: 35%;
  margin: 20px 0 20px 20px;
  color: #333333;
}

.App-messages_dialog{
  display: flex;
  flex-flow: column;
  width: 65%;
  /* border: 2px solid salmon; */
  margin: 20px 20px 20px 0px;
  
}

.App-messages_dialogs-user{
  height: 70px;
  padding: 10px;
  align-items: center;
  background: #fafafa;
  border-radius: 15px;
  margin-bottom: 5px;
  display: flex;
  flex-flow: row nowrap; 

}

.App-messages_dialogs-user a{
  display: flex;
  flex-flow: row;
}

.user_avatar{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  /* background: white; */
  background-image: url(/src/assets/user1.png);
  background-position: center;
  background-size: cover;
  margin-right: 20px;
}

.App-content_messages_textarea {
  outline: none;
  border: none;
  background: #fafafa;
  padding: 10px 160px 10px 10px;
  box-sizing: border-box;
  resize: none;
  width: 100%;
  height: 70px;
  /* position: relative; */
}

.App-content_messages_btn {
  width: 150px;
  height: 40px;
  color: white;
  background: #d9292f;
  border: 1px solid #d9292f;
  cursor: pointer;
  border-radius: 12px;
  overflow: hidden;
  position: absolute;
  margin-top: 15px;
}

.App-content_messages_btn:hover{
  background: white;
  color: #d9292f;
}

.App-messages_dialog-controls{
  display: flex;
  justify-content: end;
  /* position: fixed; */
  width: 100%;
  height: 10%;
  margin-top: 20px;
}

.App-messages_dialog-messages{
  overflow-y: scroll;
  height: 80%;
  padding: 20px 20px 0 20px;
}

.message{
  background-color:#fafafa;
  border-radius: 15px;
  padding: 15px;
  display: flex;
  flex-flow: row;
  margin-bottom: 15px;
  width: 50%;
  overflow: hidden;
  position: relative;
}

.message_content-font{
  font-size: 15px;
}

.post_pic {
  /* background: white; */
  background-image: url(/src/assets/user1.png);
  background-position: center;
  background-size: cover;
  /* background: chocolate; */
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.message_content{
  padding-left: 20px;
}

.App-messages_header{
  height: 10%;
  background: #fafafa;
  width: 96.4%;
  margin-left: 20px;
  border-radius: 15px;
  padding-left: 20px;
  display: flex;
  flex-flow: row;
}

.online {
  width: 10px;
  height: 10px;
  background-color: #b3ffa6;
  border-radius: 50%;
  margin: 29px 10px;
}

.App-content_users{
  display: flex;
  flex-flow: column;
  padding: 30px;
  height: 700px;
  background-color: #fff;
  /* overflow-y: scroll; */
  overflow: hidden;
}

.App-content_users-img {
  /* background: white; */
  background-image: url(/src/assets/user1.png);
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.App-content_users-user {
  display: flex;
  flex-flow: row;
  margin-bottom: 20px;
  justify-content: space-between;
}

.App-content_users-info{
  display: flex;
  flex-flow: column;
  margin-left: 20px;
}

.App-content_users-content, .App-content_users-info_location{
  display: flex;
  flex-flow: row;
}

.App-content_users-info_location {
  color: #333333;
  opacity: 0.7;
}

.App-content_users-info_country{
  margin-left: 8px;
}

.App-content_users-info_name {
  font-size: 20px;
  font-weight: 400;
}

.App-content_users-followbtn button{
  width: 150px;
  height: 40px;
  color: white;
  /* background: #fbb7d9;
  border: #fbb7d9; */
  background-color: #d9292f;
  border: 1px solid #d9292f;
  cursor: pointer;
  border-radius: 12px;
  overflow: hidden;
}
.App-content_users-followbtn button:hover{
  background-color: white;
  color: #d9292f;
}

form {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}

label,
input {
  display: block;
  width: 100%;
}

label {
  margin-bottom: 5px;
  height: 22px;
}

input {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #777;
}

input.error {
  border-color:#d9292f;
}

.input-feedback {
  color: rgb(235, 54, 54);
  margin-top: -15px;
  font-size: 14px;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
}

button, .App-header-login {
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 12px;
  /* background-color: #fbb7d9; */
  /* background-color: #d9292f;
  border: 1px solid #d9292f; */
  background-color: #333333;
  border: 1px solid #333333;
  color: white;
  /* border: 1px solid #fbb7d9; */
  transition: ease-in-out background-color 250ms, ease-in-out color 250ms;
}
.App-header-login{ 
  margin-right: 15px;
}

.App-header-login a{ 
  color: white;

}
.App-header-login a:hover{ 
  color: #333333;
}

button:hover, .App-header-login:hover {
  cursor: pointer;
  background-color: white;
  color: #333333;
}

.App-header-btns, .App-header-logo{
  display: flex;
  flex-flow: row;
}

.message_content-time{
  position: absolute;
  font-size: 14px;
  color: #6d7073;
  bottom: -5px;
  right: 12px;
}